@font-face {
  font-family: 'nmsicons';
  src: url('../fonts/nmsicons.woff?72078688') format('woff'),
       url('../fonts/nmsicons.ttf?72078688') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nmsicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-megaphone:before { content: '\e800'; } /* '' */
.icon-question:before { content: '\e801'; } /* '' */
.icon-reddit:before { content: '\e802'; } /* '' */
.icon-adult:before { content: '\e803'; } /* '' */
.icon-target:before { content: '\e804'; } /* '' */
.icon-light-up:before { content: '\e805'; } /* '' */
.icon-cc-by:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-target-1:before { content: '\e808'; } /* '' */
.icon-trash:before { content: '\e809'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */