@font-face {
  font-family: 'NmsFont';
  src:url('../fonts/geonms-webfont.woff') format('woff');
}

body{
	background-color: #000000;
	color:#ffffff;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}


.visible{
	
}

.hidden{
	display:none !important;
}

.mwidth_20p{
	max-width:20%;
}

.noinline{
	display:block !important;
}

.nopadding{
	padding:0px !important;
}

blockquote{
	margin: 10px 0px !important;
	border-bottom: 1px solid #bebebe;
}

textarea{
	width:100%;
}


#brand, .c-button{
	font-family : NmsFont !important;
}


div .panelbutton{
	margin:5px !important;	
	font-size:15pt;
}

.tealbg{
	background-color: #2bbbad !important;
}

.bluebg{
	background-color: #546e7a;
}


#userlocation{
	width:100%;
}

#destinationdata{
	margin-top:8px;
}

#redditpanel{
	margin-top:8px;
	margin-bottom:8px;
}

#redditpanellabel{
	background-color: #5f99cf;
	font-family: NmsFont;
}

#redditpanelbg{
	background-color: #cee3f8 !important;
}

.redditbtn{
	background-color: #4980ae !important;
}


.destinationtemplaterow{
	color: black;
}

.chipcenter{
	background-color: #7672E8 !important;
}

.chipdestination{
	background-color: #FFA500 !important;
}

.chipuser{
	background-color: #36AC3A !important;
}
.chiphub{
	background-color: #c0ca33 !important;
}

#heightsvg,#svgc{
	border:1px solid #00b8d4;	
}

#destinationlist{
	text-align:center;
	color: black;
}

.targetSelect{
	cursor:pointer;
}

.o-modal{
	max-width: 500px;
}

.pickcolor{
	display:inline-block; width:20px; height:20px; margin:2px; 
}

#rgbranges{
	max-width:450px;
	text-align:center;
}

.hmapbadge{
	margin-right:6px !important;
	margin-bottom:2px !important;
}