@font-face {
  font-family: 'NmsFont';
  src:url('../fonts/geonms-webfont.ttf')  format('truetype') /* Safari, Android, iOS */

}

body{
	
	background-color: #000000;
	color:#ffffff;
	/*
	background-color: #ffffff;
	color:#000000;*/
	
}

#atlaslogo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:175px;
}

#brand{
	text-align:center;
	
	font-family: 'NmsFont';
	margin-top:0px;
	margin-bottom:5px;	
}

legend{
	color: #ffffff !important;
}

#userlocation{
	min-width:350px !important;
	color: #000000 !important;
}

#plotdiv{
	padding-top:10px;
	margin-left: auto;
	margin-right: auto;
}


#info{
	font-family: 'NmsFont';
	font-size:17pt;
	padding:10px;
}

#errorMessage{
	
}

.visible{}

.hidden{
	display:none;
}

